.ui-autocomplete-input {
	background: white url('../images/autocomplete_waiting.png') right center no-repeat;
	background-size: 12px 12px;
}

.ui-autocomplete-loading {
	background: white url('../images/autocomplete_waiting.gif') right center no-repeat;
}

.ui-menu .ui-menu-item a {
	font-size: 10px !important;
	font-weight: normal !important;
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 1 !important;
}
