
body {
	padding-top: 0;
	font-size: 27px;
	font: 146% Arial, Helvetica, Sans-serif;
}

hbuttons>.demo-button:hover {
	color: white;
}

h1, h2 {
	padding: 0;
	margin: 0;
}  /* 0 for all objects */

.highlight {
	font-weight: bold;
	font-style: italic;
	background: yellow;
}

.search-results,
#formzone
 {
	display: inline-block;
}

#formzone {
	padding: 0 15px;
	vertical-align: top;
}

.search-results>a {
	color: inherit;
	text-decoration: inherit;
}

.search-result {
	padding: 15px;	
}

.search-result:hover {
	background-color: #aadeee;
	color:black;
}

.search-result.active {
	background-color:#1d7995;
	color:white;
}

.search-result>div {
	display:table;
	width:100%;
}

.search-result>div>div {
	display:cell;
	float:left;
}

.search-result .right {
	text-align: right;
	float:right;
}

.search-result .t-title {
	font-size: 2em;
}

.search-result .t-source,
.search-result .t-date,
.search-result .t-categories {
	font-size: 1.5em;
}

.search-result .t-content {
	text-align: justify;
}